@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  padding-top: 100px;
  padding-bottom: 80px;
  background: url("photos/pexels-enginakyurt-1435752.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative; /* Set position to relative for the pseudo-element */
}

body::before {
  content: "";
  position: absolute; /* Position the overlay relative to the body */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 46, 81, 0.50);
  z-index: -1; 
}

body::-webkit-scrollbar {
  display: none;
}

/* Navbar Styling */
.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between; /* Align logo, menu, and button */
  align-items: center;
  width: 100%;
  height: 100px;
  background: linear-gradient(rgba(0, 46, 81), transparent);
  z-index: 100;
  padding: 0 30px; /* Add padding to prevent sticking to the sides */
}

.nav-logo p {
  color: whitesmoke;;
  font-size: 25px;
  font-weight: 600;
}

.nav-menu {
  display: flex;
  justify-content: center; /* Center the menu items */
  flex-grow: 1;
}

.nav-menu ul {
  display: flex;
  margin: 0; /* Removes default margin */
}

.nav-menu ul li {
  list-style-type: none;
}

.nav-menu ul li .link {
  text-decoration: none;
  font-weight: 500;
  color: whitesmoke;
  padding-bottom: 15px;
  margin: 0 25px;
}

.link:hover,
.active {
  border-bottom: 2px solid #fff;
}

/* Apply the same style to hidden links */
.nav-menu ul li .hidden {
  text-decoration: none;
  font-weight: 500;
  color: whitesmoke;
  padding-bottom: 15px;
  margin: 0 25px; /* Space between menu items */
}

.hidden:hover,
.hidden.active {
  border-bottom: 2px solid #fff;
}

/* Navbar Buttons */
.nav-button {
  margin-left: auto;
  color: #004d80;
  margin-right: 3.5rem;
}

.nav-button .btn {
  width: 180px;
  height: 45px;
  font-weight: 500;
  background: #eef8ff; /* Darker button color */
  color: #004d80;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
}

.btn:hover {
  background: #dcf2ff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3); /* More intense hover effect */
}

/* Ensure the header container uses flexbox */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Styling for the time range selector */
.time-range-selector {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.time-range-selector select {
  padding: 5px 10px;
  font-size: 1rem;
  border: 1px solid #0066b3;
  border-radius: 5px;
}

.time-range-selector label {
  margin-right: 10px;
  font-size: 1rem;
  color: whitesmoke;
}

h2 {
  color: whitesmoke;
  font-size: 2rem;
  margin-bottom: 5px;
  text-align: center; /* Center header text */
}

/* Main Chart Section */
.main-chart-container {
  text-align: center;
  margin-top: 10px;
}

/* Canvas for main chart */
#myChart {
  width: 96%;
  height: auto;
  max-height: 550px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  background-color: #f0f8ff;
  border-radius: 8px;
  padding: 20px;
  border: 1px solid #0066b3;
}

button {
  font-size: 16px;
  padding: 12px 18px;
  background-color: #0066b3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
  background-color: #003366;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
/* Main chart container with specific height */
.main-chart-container {
  width: auto;
  height: 510px;
  margin-bottom: 20px; /* Set fixed height for the main chart */
  margin-left: 35px;
  margin-right: 35px;
}

canvas {
  width: 100% !important;
  height: 100% !important; /* Ensure the canvas fills its container */
  margin-bottom: 10px;
}

.individual-charts-container {
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 80px;
}

.chart-container {
  width: 30%;
  position: relative;
  height: 230px;
  
}

.parameter-value {
  text-align: center;
  font-size: 20px;
  color: whitesmoke;
  font-weight: 600;
  margin-top: -10px;
}

.chart-container h3 {
  color: whitesmoke;
  font-size: 1.8em;
  margin-bottom: 12px;
}

.chart-container canvas {
  max-width: 100%;
  height: 200px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  background-color: #f0f8ff;
  border-radius: 8px;
  border: 1px solid #0066b3;
  margin-bottom: 10px;
}
