@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  font-size: 18px;
  margin: 0;
  padding: 0;
  padding-top: 100px;
  padding-bottom: 80px;
  background: url("photos/pexels-enginakyurt-1435752.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative; 
}

body::before {
  content: "";
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 46, 81, 0.50);
  z-index: -1; 
}

body::-webkit-scrollbar {
  display: none;
}

.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  background: linear-gradient(rgba(0, 46, 81), transparent);
  z-index: 100;
  padding: 0 30px; 
}

.nav-logo p {
  color: whitesmoke;;
  font-size: 25px;
  font-weight: 600;
}

.nav-menu {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.nav-menu ul {
  display: flex;
  margin: 0;
}

.nav-menu ul li {
  list-style-type: none;
}

.nav-menu ul li .link {
  text-decoration: none;
  font-weight: 500;
  color: whitesmoke;
  padding-bottom: 15px;
  margin: 0 25px;
}

.link:hover,
.active {
  border-bottom: 2px solid #fff;
}

.nav-menu ul li .hidden {
  text-decoration: none;
  font-weight: 500;
  color: whitesmoke;
  padding-bottom: 15px;
  margin: 0 25px;
}

.hidden:hover,
.hidden.active {
  border-bottom: 2px solid #fff;
}

.nav-button {
  margin-left: auto;
  color: #004d80;
  margin-right: .5rem;
}

.nav-button .btn {
  width: 180px;
  height: 45px;
  font-weight: 500;
  font-size: 16px;
  background: #eef8ff;
  color: #004d80;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
}

#signInBtn a{
  text-decoration: none !important;
  color: #004d80;
}

.btn:hover {
  background: #dcf2ff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3); /* More intense hover effect */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.time-range-selector {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.time-range-selector select {
  padding: 5px 10px;
  font-size: 1rem;
  border: 1px solid #0066b3;
  border-radius: 5px;
}

.time-range-selector label {
  margin-right: 10px;
  font-size: 1rem;
  color: whitesmoke;
}

h2 {
  color: whitesmoke;
  font-size: 1.7rem;  
  text-align: center;
  font-weight: 600;
}

.main-chart-container {
  text-align: center;
  margin-top: 10px;
}

#myChart {
  width: 96%;
  height: auto;
  max-height: 550px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  background-color: #f0f8ff;
  border-radius: 8px;
  padding: 20px;
  border: 1px solid #0066b3;
}

button {
  font-size: 16px;
  padding: 12px 18px;
  background-color: #0066b3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
  background-color: #003366;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.main-chart-container {
  width: auto;
  height: 510px;
  margin-bottom: 20px;
  margin-left: 35px;
  margin-right: 35px;
}

canvas {
  width: 100% !important;
  height: 100% !important;
  margin-bottom: 10px;
}

.individual-charts-container {
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 80px;
}

.chart-container {
  width: 30%;
  position: relative;
  height: 230px;
  
}

.parameter-value {
  text-align: center;
  font-size: 20px;
  color: whitesmoke;
  font-weight: 600;
  margin-top: -10px;
}

.chart-container h3 {
  color: whitesmoke;
  font-size: 1.8em;
  margin-bottom: 12px;
}

.chart-container canvas {
  max-width: 100%;
  height: 200px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  background-color: #f0f8ff;
  border-radius: 8px;
  border: 1px solid #0066b3;
  margin-bottom: 10px;
}

/* Styles for the alert box */
.alert {
  position: fixed;
  font-weight: 500;
  top: 105px; 
  right: 32px;
  background-color: #faa7b3;
  color: #9a173e;
  padding: 10px 20px;
  border-radius: 10px;
  display: none; /* Hidden by default */
  z-index: 9999;
}

.alert.show {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.alert .close-btn {
  cursor: pointer;
  font-size: 18px;
}

.alert.hide {
  display: none;
}

#alertBox i{
  color: #9a173e;
  font-size: 30px;
  margin-right: 10px;
}